---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <div id="clustrmaps-container" style="
      width: 250px;
      height: 150px;
      margin: 30px auto 40px auto; /* 上40px间隔，下40px距离底部 */
      background: white;
      box-shadow: 0 2px 8px rgba(0,0,0,0.15);
      border-radius: 8px;
      text-align: center;
    ">
      <script type="text/javascript" id="clustrmaps"
        src="//clustrmaps.com/map_v2.js?d=AqjM1ol5G2VAOzN5uDr7CqWYDmZ4xGgzEkLYVanZXQc&cl=ffffff&w=a">
      </script>
    </div>

  </body>
</html>
